<h2>All Lessons</h2>

<h4>Total Lessons: {{lesson?.length}}</h4>

<div class="lessons-list-container v-h-center-block-parent">

  <table class="table lessons-list card card-strong">
    <tbody>
    <tr *ngFor="let lesson of lessons" [routerLink]="['/lessons',lesson.url]">
      <td class="lesson-title"> {{lesson.description}}</td>
      <td class="duration">
        <i class="md-icon duration-icon">access_time</i>
        <span>{{lesson.duration}}</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>




