
.lesson {
    text-align: center;
    max-width: 330px;
}

.color-picker {


}

.color-title {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}

.color-sample {
    height: 50px;
    width:50px;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}


.color-sample-red {
    background: #1976d2;

}


.color-sample-blue {
    background: #b13138;
}



.color-previewer {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;

}

