
$page-background: #FAFAFA;

$primary: rgb(25, 118, 210);
$primary-tint-1: #3F94E9;

$secondary: rgba(0, 0, 0, 0.117647);


$text:rgba(26, 35, 38, 0.8);

$primary-contrast: white;

$error-text: #a94442;
