
.lesson {
    margin: 25px auto 0 auto;
    max-width: 350px;
}

.lessons-list {
    padding: 10px 10px 0 10px;
    display: table-cell;
}

.lessons-list tr {
    border-bottom: 1px solid darkgray;
    cursor: pointer;
}

.lessons-list td {
    padding-bottom: 5px;
}

.lesson-logo {
    height: 20px;
    margin-right: 10px;
}

.add-lesson {
    width: 350px;
    margin-bottom: 15px;
}

.md-icon {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.collapsible-indicator {
    font-size: 30px;
    line-height:30px;
}


.collapsible-section {
    padding: 0 20px 20px 20px;
}

.collapsed .collapsible-section {
    display: none;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}