
.lesson {
    margin: 25px auto 0 auto;
    max-width: 350px;
}

.lessons-list {
    padding: 10px 10px 0 10px;
    display: table-cell;
    margin-bottom: 15px;
}

.lessons-list tr {
    border-bottom: 1px solid darkgray;
    cursor: pointer;
}

.lessons-list td {
    padding-bottom: 5px;
}

.lesson-logo {
    height: 20px;
    margin-right: 10px;
}

.add-lesson {
    width: 350px;
    margin-bottom: 15px;
}

.md-icon {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.collapsible-indicator {
    font-size: 30px;
    line-height:30px;
}


.collapsible-section {
    padding: 0 20px 20px 20px;
}

.collapsed .collapsible-section {
    display: none;
}


.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.course-logo {
    height: 75px;
    margin: 0 auto;
    background-color: #FAFAFA;
    background-image: url(https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 65px;
    background-position-y: center;
}

form label {
    width: 100px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-right: 5px;
}

.field-error-message {
    text-align: right;
    padding-right: 68px;
    font-size: 16px;
    color: #a10000;
}

form fieldset {
    margin-bottom: 20px;
}

form textarea {
    width: 170px;
}

form input[type='radio'] {
    box-shadow: none;
    width: 20px;
    vertical-align: bottom;
    margin-left: 10px;
}

form button[type='submit'] {
    float: right;
    margin-right: 75px;
}

.debug {
    clear: both;
    font-size: 14px;
}

.debug h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.form-field {
    margin-bottom: 15px;
}

.lesson-button {
    background: #1976d2;
    color: white;
    font-weight: bold;
}

.lesson-button[disabled] {
    background: grey;
    color: white;
    cursor: not-allowed;
}

.top-menu {
    margin-bottom: 30px;
}




.ng-dirty.ng-invalid {
    border: 2px solid #ff2118;
}

form.ng-dirty.ng-invalid {
    border:none;
}


.l-header img {
    cursor: pointer;
}

.youtube-logo {
    max-height: 100px;
    border-radius: 4px;
}

.lessons-list {
    text-align: left;
}

.home-screen {
    margin-top: 50px;
}

.courses-list {
    padding: 5px 10px;
    text-align: left;
}


table.courses-list tr {
    border-bottom: 1px solid darkgray;
}

table.courses-list tr td {
    padding: 5px 0;
}

table.courses-list tr td.description {
    padding-right: 15px;
}

table.courses-list tr td:first-child {
    padding-left: 15px;
}

table.courses-list tr td:last-child {
    padding-right: 15px;
}

ul.top-menu > li > a.menu-active {
    color: #ee1c1b;
    font-weight: bold;
    text-decoration: underline;
}

.nav-button {
    margin-bottom: 20px;
}

.playlist {
    float: right;
}

.main-container .list {
    display: inline-block;
    max-width: 270px;
    vertical-align: top;
    margin-right: 50px;
}


.nav-fields {
    margin-bottom: 40px;
}

.course-summary {
    cursor: pointer;
}

.chat {

}

img.dashboard-section  {
    display: block;
    max-height: 300px;
    margin: 0 auto 50px auto;

}

.toggle-buttons {
    margin-bottom: 15px;
}

.graph-toggle {
    width: 30px;
    box-shadow: none;
    vertical-align: bottom;
}