
<div class="nav-bar">
  <button (click)="previous()">Previous</button>
  <button (click)="next()" >Next</button>
</div>

<h3>{{ lesson?.description }}</h3>
<h5>Duration: {{ lesson?.duration  }}</h5>

<iframe *ngIf="lesson?.videoUrl" width="260" height="150" [src]="lesson?.videoUrl | safe" frameborder="0" allowfullscreen></iframe>

<h2>Description</h2>
<p>{{ lesson?.longDescription }}</p>

<div class="tools-bar">
  <button routerLink="edit" [queryParams]="{id:lesson?.$key}">Edit Lesson</button>
</div>
