
<h2>{{course?.description }}</h2>


<div class="lessons-list-container v-h-center-block-parent">

  <div class="nav-bar">
    <button (click)="previous()">Previous Page</button>
    <button (click)="next()" >Next Page</button>
  </div>


  <table class="table lessons-list card card-strong" *ngIf="course && lessonsPage">
    <tbody>
    <tr *ngFor="let lesson of lessonsPage.pagedData" [routerLink]="[lesson.url]">
      <td class="course-icon"><img [src]="course.courseListIcon"></td>
      <td class="lesson-title"> {{lesson.description}}</td>
      <td class="duration">
        <i class="md-icon duration-icon">access_time</i>
        <span>{{lesson.duration}}</span>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="tools-bar">
    <button routerLink="new" [queryParams]="{courseId:course?.$key}">New Lesson</button>
  </div>

</div>




