<form autocomplete="off" novalidate class="lesson-form">

  <fieldset>
    <legend>Lesson</legend>
    <div class="form-field">
      <label>Title:</label>
      <input name="title">
      <div class="field-error-message">field is mandatory</div>
    </div>
    <div class="form-field">
      <label>Url:</label>
      <input name="title">
      <div class="field-error-message">field is mandatory</div>
    </div>
    <div class="form-field">
      <label>Video Url:</label>
      <input name="title">
      <div class="field-error-message">field is mandatory</div>
    </div>
    <div class="form-field">
      <label>Tags:</label>
      <input name="title">
      <div class="field-error-message">field is mandatory</div>
    </div>
    <div class="form-field">
      <label>Description:</label>
      <textarea name="description"></textarea>
    </div>
  </fieldset>

  <p>
    <button>Save</button>
  </p>

</form>
