<header class="l-header v-center-parent">
  <img class="v-center" routerLink="home"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

  <ul class="top-menu disable-link-styles"
      routerLinkActive="menu-active">
    <li>
      <a routerLink="home"
         routerLinkActive="menu-active"
         [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li>
      <a routerLinkActive="menu-active"
         routerLink="courses">Courses</a>
    </li>
  </ul>

</header>
